{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator</title>

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    {% bootstrap_css %}


    {% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock %}

</head>
<body>

<form role="form" class="form-inline" method="get" action="{% url 'index' %}">

    Step: {{ step }}
    <br />

    {% if showVal == True %}
    Curr = {{ val }}
    <br />
    Op = {{ op }}
    <br />
    {% endif %}

    {% if showTotal == True %}
    Total = {{ total }}
    <br />
    {% endif %}

    <input type="hidden" name="step" value="{{ step }}">


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <input id="inputTxt" name="input" type="text" class="form-control" id="input" placeholder="" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button id="plus" name="op" value="sum" type="submit" class="op btn btn-info btn-lg btn-block">+</button>
        </div>
        <div class="col-md-1">
            <button id="mult" name="op" value="mult"  type="submit" class="op btn btn-info btn-lg btn-block">x</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button id="minus" name="op" value="minus"  type="submit" class="op btn btn-info btn-lg btn-block">-</button>
        </div>
        <div class="col-md-1">
            <button id="div" name="op" value="div"  type="submit" class="op btn btn-info btn-lg btn-block">/</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <button id="res" type="submit" class="btn btn-info btn-lg btn-block">=</button>
        </div>
    </div>
</form>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
{% bootstrap_javascript %}
{% block javascript %}

    <script>

        $(document).ready(function() {
            //initialization
            var res='';
            $('#inputTxt').val(res);
        });
    </script>

{% endblock %}

</body>
</html>